:root {
/*https://coolors.co/2b303a-92dce5-eee5e9-7c7c7c-d64933*/
  --color-gunmetal: #2B303A;
  --color-non-photo-blue: #92DCE5;
  --color-white: #EEE5E9;
  --color-gray: #7C7C7C;
  --color-chili-red: #7C7C7C;
  --color-green: #2cae53;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}
